.rating {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

@media (min-width: 768px) {
  .rating {
    i {
      font-size: 2rem;
    }
  }
}
