.collapse {
  margin: 30px 0;
  width: 100%;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius-sm);
    background-color: var(--primary);
    color: var(--white);
  }

  h2,
  i {
    margin: 10px;
  }

  p,
  ul {
    display: flex;
    flex-flow: wrap column;
    gap: 2px;
    margin: -3px 0 0;
    padding: 10px;
    background-color: var(--grey);
  }
}
