.collapse {
  margin: var(--margin-mobile);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--white);
  }

  h2,
  i {
    margin: 10px;
  }

  p {
    margin: -3px 0 0;
    padding: 10px;
    background-color: var(--grey);
  }
}

@media (min-width: 768px) {
  .collapse {
    margin: var(--margin-desktop);
  }
}
