.collapse {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--radius-sm);
    background-color: var(--primary);
    color: var(--white);
  }

  h2,
  i {
    margin: 10px;
  }

  p {
    margin: -3px 0 0;
    padding: 10px;
    background-color: var(--grey);
  }
}
