.footer {
  padding: 60px 0 40px;
  text-align: center;
  color: var(--white);
  background-color: var(--black);

  img {
    height: 40px;
  }

  @media (min-width: 768px) {
    padding: 60px 0 20px;

    img {
      margin-bottom: 20px;
    }
  }
}
