.footer {
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background-color: #000;

  img {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .footer {
    img {
      margin-bottom: 40px;
    }
  }
}
