.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin-mobile);

  img {
    height: 50px;
  }

  ul {
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
  }

  .active,
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}


@media (min-width: 768px) {
  .nav {
    margin: var(--margin-desktop);

    ul {
      text-transform: capitalize;
    }
  }
}
