.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--margin-sm);
  font-size: 0.8rem;

  img {
    height: 48px;
  }

  ul {
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
  }

  .active,
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  .nav {
    margin: var(--margin-md);
    font-size: 1.2rem;

    img {
      height: 58px;
    }

    ul {
      gap: 3rem;
      text-transform: capitalize;
    }
  }
}

@media (min-width: 1200px) {
  .nav {
    margin: var(--margin-lg);
    font-size: 1.5rem;

    img {
      height: 68px;
    }

    ul {
      gap: 4rem;
    }
  }
}
