.banner {
  position: relative;
  margin: 20px;

  img {
    border-radius: 10px;
    height: 110px;
    width: 100%;
    object-fit: cover;
  }
  
  h1 {
    position: absolute;
    top: 0;
    padding: 0 20px;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .banner {
    margin: 50px;

    img {
      height: 220px;
    }
  }
}

.filter {
  filter: brightness(50%);
}
